body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #e9eaeb;
	border-top: 0;
	margin: 0;
}
.main-wrapper {
  height: 100%;
  padding-top: 100px;
  background-color: #008070;
}
p {
	margin: 20px 0;}


aside {
	position: fixed;
	float: left;
	width: 22vh;
	height: 95vh;
	background-color: #2C333D;
	display: block;
	text-align: left;
}
section {
	margin-left: 200px;
}
section.f{
  background-color:#efefef;
  margin-right: 5%;
  margin-left: 15%;
  padding: 1%;
  height: 95vh;

}

.aside-menu li {
  font-weight: 300;
  list-style-type: none; 
   line-height: 1.5em;
   font-size: 105%;
   text-align: left;
   }


.aside-menu li:first-child {
  border: none;
}

.aside-menu li.active {
  color: #328972;
}

.aside-menu a {
  color:#328972 ;
  text-decoration: none;
}   
footer{
	position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  background: #2C333D; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 22vh;
	height: 5vh; 
	text-align: center;
	color: #328972;
	border-top: 1px solid #235f4f;;
}
.footer li {
  font-weight: 300;
  list-style-type: none; 
   line-height: 1.5em;
   font-size: 105%;
   text-align: left;
   }
.footer a {
  

  color:#328972 ;
  text-decoration: none;
}   
.footer li:first-child {
  border: none;
}

.footer li.active {
  color: #328972;
}
 a:visited {
    color: #328972;
}
a{
  text-decoration: none;

}
a:hover {
  color:#e9eaeb;
}
li{
  list-style-type: none;
}
blockquote {
	margin: 0;
	background: #e9eaeb;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	
}

blockquote p {
	color: #328972;
	font-style: Tahoma;
	font-size: 30px;
	margin: 0;
	text-align:right; 
}
blockquote cite {
	display: block;
	font-size: 15px;
	font-style: normal;
	color: #235f4f;
  margin: 0;
  margin-right: 1%;
  text-align: right;
}
header{
	float: right;
}
.text{
  padding-top: 2%;
  font-size: 17px; 
  text-align: left;
   margin-right: 1%;
}
.text1{
  padding-top: 2%;
  font-size: 23px; 
  text-align: left;
  font:#328972;
}
